  :root {

  /* Colors: */
  --unnamed-color-48b5fe: #48B5FE;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-e4e4e4: #E4E4E4;
  --unnamed-color-000000: #000000;
  --unnamed-color-00000080: #00000080;
  --unnamed-color-ebf7ff: #EBF7FF;
  --unnamed-color-ff55f5: #F5F5F5;
  --unnamed-color-fec148: #FEC148;
  --unnamed-color-268dd2: #268DD2;
  --unnamed-color-000000D6: #000000D6;
  --unnamed-color-circulo: blue;
  
  
  /* Font/text values */
  --unnamed-font-family-fira-sans: Fira Sans;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-18: 18px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-20: 20px;
  }
  
  /* Character Styles */
  .unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-fira-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  }
  .unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-fira-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00000080);
  }

  .style-3 {
    font-family: var(--unnamed-font-family-fira-sans);
  font-style: var(--unnamed-font-style-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  font-weight: lighter;
    color: var(--unnamed-color-000000D6);
  }
  
.h2 {
  font-size: 18px;
}

label , input, p {
  font-family: var(--unnamed-font-family-fira-sans);
  font-style: var(--unnamed-font-style-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
}

label {
  color: var(--unnamed-color-000000);
  font-weight: bold;
  
}
.ant-form-item-label > label {
  height: 17px;
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
}
input , p {
  color: var(--unnamed-color-00000080); 
  font-weight: var(--unnamed-font-weight-normal);
}

p {
  margin-left: 8px;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-right: 5px;
}

.sin-padding-bottom {
  padding-bottom: 0px;
}

.app {
  display: flex;
  justify-content: space-between;
  padding-left: 111px;
  margin-top: 42px;
  height: 100%;
}

.vista {
  margin-top: 149px;
  flex-basis: 807px;
  max-width: 807px;
}

.configuracion {
  /* background-color: #000000; */
  flex-basis: 613px;
  max-width: 613px;
  display: flex;
  flex-direction: column;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  /* width: 611px; */
  /* height: 181px;   */
  margin-bottom: 23px;
}

    .logo-row-1 {
      display: flex;
      align-items: center;
      height: 67px; 
      margin-bottom: 15px;
    } 

        .logo-avatar {
          width: 67px;
          height: 67px;
          margin-right: 13px;
        }
        
        .logo-subir {
          width: 105px;
          height: 32px;
          border-radius: 5px;
        }

    .logo-row-2 {
      display: flex;
      /* height: 67px; */
    } 

        /* .logo-parrafo {
          width: 585px;
        }   */

  

.name-space-container {
  /* height: 72px; */
  margin-bottom: 30px;
}  

.url-space-container {
  margin-bottom: 30px;
}

  .ant-input {
    height: 45px;
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-input::placeholder , .ant-input-suffix , .ant-input-affix-wrapper {
  font-family: var(--unnamed-font-family-fira-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00000080);
  }

.personas-container {
  /* width: 611px; */
  margin-bottom: 30px;
}

.persona-group {
  /* width: 491px; */
  height: 46px;;
  display: flex;
  justify-content: space-between;
}

.personas-item{
  font-family: Fira Sans;
}

.radio .ant-radio-wrapper {
  margin-right: 0px;
}
/* Antes de darle click */
.radio .ant-radio-inner { 
  margin: 0px; 
  width: 45px;
  height: 48px;
  border-radius: 23px;
  color: var(--unnamed-color-circulo);
  background-color: var(--unnamed-color-circulo);
}


/* Fondo despues de darle click */
.radio .ant-radio-checked .ant-radio-inner {
  background-color: white;
  border: solid;
  box-shadow: 0px 0px 1px 2px var(--unnamed-color-circulo);
}

/* Bola del centro */
.radio .ant-radio-checked .ant-radio-inner::after {
  transform: scale(1.9);
  background-color: var(--unnamed-color-circulo);
}



.colores-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.privacidad-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  /* width: 611px; */
  margin-bottom: 40px;
}

.privacidad-boton{
  padding-top: 40px;
  padding-left: 38px;
  max-width: 299px;
}

.ant-btn-primary {
  background: #48B5FE;
  border-color: #48B5FE;
}


/* .ant-form-item-label {
  height: 17px;
} */

/* .ant-form-item-label  {
  height: 27px;
} */

 /* .ant-form-item-label > label {
  height: 27px;
}  */

.ant-upload-list-picture-card-container {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .vista {
    display: none;
  }

  .app {
    padding-left: 0px;
    align-items: center;
    justify-content: center;
  }

  .configuracion {
    max-width: 80%;
  }

  .ant-form-item-label > label {
    height: auto;
  }
    
  

  
}